<div class="flex w-full items-start gap-6 mt-32">
  <div class="w-3/4">
    <mat-stepper (selectionChange)="onStepChange($event)"
    [linear]="true"
     #stepper class="bg-gray-50 shadow-sm rounded-lg mb-10">
      <mat-step label="Address" [completed]="completionStatus().address">
        <div id="address-element"></div>
        <div class="flex justify-end mt-1">
          <mat-checkbox
            [checked]="saveAddress"
            (change)="onSaveAddressCheckboxChange($event)">
            Save as default address
          </mat-checkbox>
        </div>
        <div class="flex justify-between mt-6">
          <button class="z-0" mat-flat-button routerLink="/shop">Continue Shopping</button>
          <button [disabled]="!completionStatus().address"  class="z-0" mat-stroked-button matStepperNext >Next</button>
        </div>
      </mat-step>
      <mat-step label="Delivery" [completed]="completionStatus().delivery">
        <app-checkout-delivery (deliveryComplete)="handleDeliveryChange($event)"></app-checkout-delivery>
        <div class="flex justify-between mt-6">
          <button mat-flat-button matStepperPrevious class="bg-gray-500 text-gray-50">Previous</button>
          <button [disabled]="!completionStatus().delivery" mat-stroked-button matStepperNext class="">Next</button>
        </div>
      </mat-step>
      <mat-step label="Payments" color="primary" [completed]="completionStatus().card">
        <div id="payment-element"></div>
        <div class="flex justify-between mt-6">
          <button  mat-flat-button matStepperPrevious class="bg-gray-500 text-gray-50">Previous</button>
          <button [disabled]="!completionStatus().card" mat-stroked-button matStepperNext >Next</button>
        </div>
      </mat-step>
      <mat-step label="Configuration">
      <app-checkout-review [confirmationToken]="confirmationToken"></app-checkout-review>
        <div class="flex justify-between mt-6">
          <button mat-flat-button matStepperPrevious class="bg-gray-500 text-gray-50">Previous</button>
          <button [disabled]="!confirmationToken || loading"
          (click)="confirmPayment(stepper)" mat-stroked-button  >
            @if (loading) {
              <mat-spinner diameter="20"></mat-spinner>
            } @else {
              <span>Pay {{cartService.totals()?.total | currency}}</span>
            }
          </button>
        </div>
      </mat-step>

    </mat-stepper>
    <!-- <pre>{{ completionStatus() | json }}</pre> -->



  </div>
  <div class="w-1/4">
    <app-order-summary></app-order-summary>
  </div>
</div>
